@charset "UTF-8";
a {
    text-decoration: none; /* Retire le soulignement */
}

a:hover {
    text-decoration: underline; /* Ajoute un soulignement uniquement au survol */
}

.navbar-nav .nav-item {
    display: flex; /* Aligne tous les items au centre verticalement */
    align-items: center;
}

.navbar-nav .dropdown-toggle {
    display: inline-block; /* Garde le bouton dropdown au même niveau que les autres boutons */
}

.navbar-nav .nav-link {
    line-height: 1.5; /* Ajuste la hauteur des liens pour un alignement uniforme */
}

.bi bi-search {
    display: inline-block; /* Garre l'icône de recherche au même niveau que le texte */
    align-items: center;
    font-size: 1.2rem; /* Augmente la taille du texte */
    font-weight: bold; /* Rend le texte plus gras */
    color: #333; /* Définit une couleur uniforme */
    text-transform: uppercase; /* Met le texte en majuscules (optionnel) */
    padding: 8px 15px; /* Ajoute un espace autour des liens */
    transition: color 0.3s ease; /* Effet de transition au survol */
}

/* Uniformiser les liens de la navbar */
.navbar-nav .nav-link {
    font-size: 1.2rem; /* Augmente la taille du texte */
    font-weight: bold; /* Rend le texte plus gras */
    color: #333; /* Définit une couleur uniforme */
    text-transform: uppercase; /* Met le texte en majuscules (optionnel) */
    padding: 8px 15px; /* Ajoute un espace autour des liens */
    transition: color 0.3s ease; /* Effet de transition au survol */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Couleur au survol */
    text-decoration: none; /* Supprime le soulignement au survol */
}

/* Ajustement des dropdowns pour uniformité */
.navbar-nav .dropdown-menu {
    font-size: 1.2rem; /* Correspond à la taille des autres liens */
    font-weight: bold;
}


.fille{
    background-image: url(../assets/hero-tour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    color: white;
    padding-top: 10%;
}

.fille h1:before, .content h1:before{
    content: "";
    display: block;
    width: 20%;
    background-color: white;
    height: 5px;
    margin: auto;
    margin-bottom: 1.2rem;
}

.fille h1{
    width: 82%;
    margin: 1.2rem auto 0;
    font-size: 3.5rem;
    text-align: center;
}

.fille p{
    margin: 1rem auto;
    font-size: 1.2rem;
    color: white;
}

.fille .article_demo{
    margin: 5rem auto;
}

.fille button{
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    background-color: #fff186;
}

.fille button a{
    color: black;
    font-weight: bold;
}

.fille .demo{
    align-self: center;
    margin-left: 1.5rem;
    color: white;
}

.demo i{
    padding-left: .5rem;
}

.sara{
    border-right: 1px solid white;
    padding-right: .5rem;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 1rem;
}

.sara span{
    font-weight: bold;
}

.sara span:last-child{
    font-weight: lighter !important;
    font-size: .9rem;
}
